Import Apache Cassandra python package

In [1]:
import cassandra

Create a connection to the database

In [2]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

Test the Connection and Error Handling Code

In [3]:
try: 
    session.execute("""select * from manga_libary""")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

Create a keyspace to the work in

In [4]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS miketest 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

Connect to our Keyspace

In [5]:
try:
    session.set_keyspace('miketest')
except Exception as e:
    print(e)

Now to translate this information into a Create Table Statement.

In [6]:
query = "CREATE TABLE IF NOT EXISTS manga_library "
query = query + "(year int, author_name text, manga_name text, PRIMARY KEY (year, author_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

Insert two rows

In [7]:
query = "INSERT INTO manga_library (year, author_name, manga_name)"
query = query + " VALUES (%s, %s, %s)"

try:
    session.execute(query, (1990, "Takehiko Inoue", "Slam Dunk"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1997, "Eiichiro Oda", "One Piece"))
except Exception as e:
    print(e)

Validate your data was inserted into the table.

In [8]:
query = 'SELECT * FROM manga_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.manga_name, row.author_name)

1990 Slam Dunk Takehiko Inoue
1997 One Piece Eiichiro Oda

Validate the Data Model with the original query.

In [9]:
query = "select * from manga_library WHERE year = 1990"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.manga_name, row.author_name)

1990 Slam Dunk Takehiko Inoue

In [10]:
query = "select * from manga_library WHERE year = 1990 and author_name = 'Takehiko Inoue'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.manga_name, row.author_name)

1990 Slam Dunk Takehiko Inoue

In [11]:
query = "select * from manga_library WHERE year = 1990 " 
query = query + "and author_name='Takehiko Inoue'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.manga_name, row.author_name)

1990 Slam Dunk Takehiko Inoue

Drop the table to avoid duplicates and clean up.

In [12]:
query = "drop table manga_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

Close the session and cluster connection

In [13]:
session.shutdown()
cluster.shutdown()